.tag {
  margin: .25rem;
  display: inline-block;
  background-color: #eee;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  white-space: nowrap;
  text-align: center;
  line-height: 1.5;
}
